

# Ignore list for Eagle, a PCB layout tool
# Backup files
*.s#?
*.b#?
*.l#?
*.epf

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
#eagle.epf
# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.drd
*.drd.*
*.info
*.eps

/Software/www/nbproject/private/
/Software/www/nbproject
/Software/Apps/*/build/
/Software/Apps/*/dist/
/Software/Apps/*/nbproject/
#output binaries
Software/Apps/SHScheduler/shscheduler
Software/Apps/Wireless-NRF/wireless-nrf
Software/Apps/LogicLayer/logiclayer
/Firmware/*/Debug/
/Firmware/*/Release/
*.atsuo
/Software/**/*.o
Software/Apps/LogicLayer/logiclayer

/Software/www/netbeans/nbproject/private/